/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url("../../resources/MenuGame.png");
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#teste{
    border-radius: 50;
}